<h1>This is Rendezvous, yo!</h1>

<div id="join">
  <%= link_to "join stream" %>
</div>

<h2><div id="stream">THE STREAM</div></h2>
<div id="thumb"></div>
<div class="messages"></div>

<form id="form-message">
Message: <input type="text" name="FirstName" id="message" value="">
<input type="submit" value="Submit">
</form>

<script>(function(){
 
  $('#form-message').submit(function(e) {
    e.preventDefault();
    message = $("#message").val();
    publish(message);
  });

  var pubnub = PUBNUB.init({
     publish_key   : 'demo',
     subscribe_key : 'demo'
  })

  $('#join').click(function (e) {
    e.preventDefault();

    pubnub.subscribe({
      channel : "demo",
      message : function(message){ 
        $('.messages').append('<div>' + message + '</div><br>')
      },
      connect : publish
    })  

    $.ajax({
      type: "GET",
      url: "./api/users/8",
      dataType: 'json',
      success: function (data, status, error) {
        console.log('success', data);
        $('#thumb').append('<img src="' + data.avatar_url_medium + '" class="img-circle">');
      },
      error: function (data, status, error) {
        console.log('error', data, status, error);
      }
    });

  })

  function publish(m) {
     pubnub.publish({
         channel : "demo",
         message : m
     })
  }

  $()

})();</script>